[Desktop Entry]
Name=Peg-E
Name[cs]=Peg-E
Name[de]=Peg-E
Name[el]=Peg-E
Name[eo]=Peg-Eo
Name[es]=Peg-E
Name[fr]=Peg-E
Name[lt]=Peg-E
Name[ms]=Peg-E
Name[nl]=Peg-E
Name[pl]=Peg-E
Name[pt]=Peg-E
Name[ro]=Peg-E
Name[ru]=Peg-E
Name[sv]=Peg-E
Name[te]=పెగ్-ఇ
Name[tr]=Peg-E
Name[zh]=Peg-E
GenericName=Peg Elimination Game
GenericName[cs]=Peg eliminační hra
GenericName[de]=Peg Elimination Spiel
GenericName[el]=Peg παιχνίδι εξάλειψης 
GenericName[eo]=Pega eliminoludo
GenericName[es]=Juego de eliminación tipo Peg
GenericName[fr]=Jeu d'élimination de pions.
GenericName[he]=משחק לוח מחשבת
GenericName[lt]=Kamštelių šalinimo žaidimas
GenericName[ms]=Permainan Penyingkiran Pepaku
GenericName[nl]=Pinnetjes verwijder spel
GenericName[pl]=Gra eliminacji Peg
GenericName[pt]=Jogo de Eliminação Peg
GenericName[ro]=Peg - joc de eliminare
GenericName[ru]=Peg — игра, в которой нужно очистить игровое поле
GenericName[sv]=Peggelimineringsspel
GenericName[te]=పెగ్ తొలగించే ఆట
GenericName[tr]=Peg eleme oyunu
GenericName[zh]=孔明棋游戏
Comment=Jump pegs to eliminate them
Comment[de]=Sprung zu Heringen, um sie zu beseitigen
Comment[el]=Μετάβαση σε γόμφους για να εξαλειφθούν
Comment[eo]=Saltu sur pegojn por ilin elimini 
Comment[es]=Salta sobre los pegs para eliminarlos
Comment[fr]=Sautez les pions pour les éliminer.
Comment[he]=קפוץ מעל גולות כדי לסלק אותן
Comment[lt]=Peršokite per kamštelius, kad juos pašalintumėte
Comment[ms]=Langkau pepaku untuk menyingkirnya
Comment[nl]=Verwijdern staafjes door er overheen te springen
Comment[pl]=Przeskocz kołki, aby je usunąć
Comment[pt]=Salte com os pinos para os eliminar
Comment[ro]=Sari peste pioni pentru a-i eliminna
Comment[sv]=Hoppa över pinnar för att eliminera dem
Comment[te]=వాటిని తొలగించడానికి పెగ్స్ ని ఎగరవేయి
Comment[zh]=跳过棋子，消除它！
TryExec=peg-e
Exec=peg-e
Icon=peg-e
Terminal=false
Type=Application
Categories=Qt;Game;BoardGame;
Keywords=game;board;
