[Desktop Entry]
Name=Peg-E
Name[cs]=Peg-E
Name[de]=Peg-E
Name[es]=Peg-E
Name[ms]=Peg-E
Name[nl]=Peg-E
Name[pl]=Peg-E
Name[ro]=Peg-E
Name[ru]=Peg-E
Name[tr]=Peg-E
GenericName=Peg Elimination Game
GenericName[cs]=Peg eliminační hra
GenericName[de]=Peg Elimination Spiel
GenericName[es]=Juego de eliminación tipo Peg
GenericName[he]=משחק הלוח מחשבת
GenericName[ms]=Permainan penyingkiran pepaku
GenericName[nl]=Pen verwijder spel
GenericName[pl]=Gra eliminacji Peg
GenericName[ro]=Joc de eliminare Peg
GenericName[ru]=Peg — игра, в которой нужно очистить игровое поле
GenericName[tr]=Peg eleme oyunu
Comment=Jump pegs to eliminate them
Exec=peg-e
Icon=peg-e
Terminal=false
Type=Application
Categories=Qt;Game;BoardGame;
